# HiDrive WebDAV Configuration
# Diese Werte werden nur verwendet, wenn noch keine Konfiguration in der App vorgenommen wurde

HIDRIVE_URL=https://webdav.hidrive.strato.com/
HIDRIVE_USER=ihr_hidrive_benutzername
HIDRIVE_PASS=ihr_hidrive_passwort

# Development Settings
NODE_ENV=development
ELECTRON_ENABLE_LOGGING=true